
@font-face {
    font-family: 'Uni Sans Heavy Italic';
    src: url('UniSansHeavyItalic.eot');
    src: url('UniSansHeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('UniSansHeavyItalic.woff') format('woff'),
    url('UniSansHeavyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
